.navbar {
    background-image: url("../assets/bgtexture.jpg");
    background-size: auto;
    background-position: center;
}

.navbarFont {
    font-family: 'Fugaz One';
    font-size: 1.25rem;
}
/********* NavBar - End *********/

/********* ALL PAGES - Start *********/
@font-face {
    font-family: 'Montauk-Regular';
    src: url("../assets/Montauk-Regular/Montauk-Regular.otf");
}

body {
    background-image: url('../assets/bgtexture.jpg');
    background-size: auto;
}

.fontColor {
    color: #5F002B;
}

.bgWhite {
    background-color: #FFFFFF;
}
/********* ALL PAGES - End *********/

/********* FOOTER - Start *********/
.footerText {
    font-family: 'Montauk-Regular';
    font-size: 1.25rem;
    line-height: 0.8rem;
}

.ourHeadbg{
    background-color: white;
  
}

h2{
    font-size: 30px;
    font-weight: bold;
}

h3{
    font-size: 30px;
}
p{font-size: 20px;}

hr{
   border-color: #980051;
 
   
}

/* .cardSize{
     width: 634px;
     height: 19px; ;
} */